

$global:0.625px;


/* ======================= Possible Fonts =========================== */

$font1:"acta-poster";
$font2:"acta-display";
$font3:"jeanne-moderno-ultra";
$font4:"jeanne-moderno"; 
/* jeanne moderno has reg and bold */
$font5:"ltc-broadway";
$font6:"ltc-broadway-engraved";
$font7:"lust-display-didone";
$font8:"madrone-std";
$font9:"hypatia-sans-pro";
/*  Reg and Bold */
$font10:"coquette";
/* Reg and Bold */
$font11:"estilo-script";
$font12:"estilo-regular";
$font13:"josefin";

/* ====================== Color List ================================= */

$neon1:#FF000B;
$pink:#FF58DE;
$neon2:#4F4CD0;