body {
	font-family: helvetica;
	max-width: 1280px;
	background-color: #ffffff;

}

/*
===========================================
	Login Nav
===========================================
*/



/*
===========================================
	Banner box
===========================================
*/

.banner {
	width: 100%;
	height: 320px;
}

.banner {
	background-color: #669999;
	background-image: url('../img/banner.jpg');

}

/*
===========================================
	Secondary Nav
===========================================
*/


/*
===========================================
	Aside
===========================================
*/
.icon {
	max-width: 21px;
	
}
/*
===========================================
	Tweets Sections
===========================================
*/

a {
	text-decoration: none;
	color: #999999;
}
