/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	box-sizing: border-box;
	font-size: 1em;
	font-family: helvetica;
	max-width: 1300px;
	a {
		text-decoration: none;
		color: #083657; 
	}
}
*, *:before, *:after {
box-sizing: border-box;
}


header {
	nav {
		display:inline;
		.left {
			margin-left: 7%;
			ul {
				float: left;
			}
		}
		.right {
			margin-right: 10%;
			ul {
				float: right;
				padding-top: 10px;
			}
		}
		li {
			display: inline-block;
			text-transform:uppercase;
			font-size:1em;
			vertical-align: middle;

		}
	}
}

.jumbotron {
	width: 100%;
	height:528px;
	background-image: url('../img/surf.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	text-align:center;
	h1 {
		padding-top: 190px;
		font-size: 5.688em;
		color: white;
		text-transform: uppercase;
		font-weight: bold;
	}
	p {
		font-size: 1em;
		color: white;
	}
}
.container {
	margin-top: 85px;
	max-width: 75%;
	clear: both;
	margin-left: auto;
	margin-right: auto;
		.article {
		width: 55%;
		color:  #5e686f;
		float: left;
		img {
		width: 25px;	
		padding-right: 80px;
		}
		p {
		line-height: 1.7;
		}
		h2 {
		font-size: 38px;
		padding-bottom: 15px;
		color: black;
		}
		em {
		color: #a3b3bf;
		text-decoration: underline;
		}
		.quote {
		font-style: italic;
		color: #106db3;
		border-left: 2px solid #5e686f;
		font-size: 25px;
		margin-left: 8px;
		padding-left: 20px;
		}
		strong {
		text-decoration: underline;
		color: #106db3;
		}
		.buttons {
		color: white;
		height: 25px;
		background-color: #5e686f;
		display: inline-block;
		float: left;
		margin-left: 10px;
		margin-bottom: 70px;
			img {
			margin-right: -80px;
			}
			p {
			background-color: #a3b3bf;
			float: right;
			height: 20px;
			font-size: 12px;
			padding-top: 5px;
			padding-left: 8px;
			padding-right: 8px;
			}
			.share p {
			background-color: #106db3;}}}
		.sidebar {
		width: 30%;
	 	float: right;
	 	vertical-align: bottom;
	 	text-align: center;
		.icon img {
		padding-bottom: 30px;
		}
		.social li {
		display: inline;
		color: #a3b3bf;
		padding: 7px;
		font-size: 12px;
		}
		.paddle {
		margin-top: 40px;
			p {
			float: right;
			padding-top: 10px;
			color: #a3b3bf;
			text-decoration: underline;
			margin-right: -35px;
			}
		}
		.finalside {
		text-align: left;
		clear: both;
		padding-top: 35px; 
		line-height: 1.5;	
			h4 {
			color: #106db3;
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
			}
			p{
			color: #a3b3bf;
			font-size: 13px;}}} }
.popular {
	.box {
		clear: both;
		font-size: 55px;
		color:black;
		text-align: center;
		border-top: 2px solid #a3b3bf;
		padding: 50px;
	}
	.posts {
		p {
		font-weight: 400;
		}
		.stories {
			height:330px;
			background-image: url('../img/surfer.jpg');
			background-repeat: no-repeat;
			background-size: contain;
			float: left;
				p {
				width: 325px;
				color: #083452;
				font-size: 30px;
				padding-top: 290px;
				text-align: center;
				}	
		}
		.brews {
			height:330px;
			background-image: url('../img/beer.jpg');
			background-repeat: no-repeat;
			background-size: contain;
			float: left;
				p {
				width: 325px;
				color: white;
				font-size: 30px;
				padding-top: 290px;
				text-align: center;
				}
		}
		.zack {
			 height:330px;
			background-image: url('../img/zack.jpg');
			background-repeat: no-repeat;
			background-size: contain;
			float: left;
				p {
				width: 325px;
				color: #083452;
				font-size: 30px;
				padding-top: 255px;
				}
		}
		.shots {
			height:330px;
			background-image: url('../img/surfer.jpg');
			background-repeat: no-repeat;
			background-size: contain;
			float: left;
				p {
				width: 325px;
				color: #083452;
				font-size: 30px;
				padding-top: 290px;
				text-align: center;
				}
		}
	}}
footer {
	clear: both;
	max-width: 1300px;
	background-color: #083452;
	height: 100px;
		.bottom{
		max-width: 75%;
		margin-right:auto;
		margin-left: auto;
		text-align: center;
		color: #a3b3bf;
			.left {
			padding-top: 20px;
			}
			.right {
			padding-top: 45px;
			}
	}}
