@media screen and (min-width:700px) and (max-width:1109px) {
	body {
		width:95%;
		margin: 0 auto;
	}
	header {
		width:100%;
		margin:0 auto;
		background-color: $bg2;
		background-image: url("../img/beans-wide.jpg");
		background-repeat:no-repeat;
		background-size:cover;
		height:7em;
		// @include radius-bottom(0.8em);
	}
	.gradient {
		@include gradient($bg2,rgba(255,255,255,0),20%,100%);
		height: 7em;
		// @include radius-bottom(0.8em);
	}
	h1 {
		font-size: $global*5;
		padding-left:0.7em;
		font-weight:300;
		padding-top:0.22em;
		width:auto;
		padding-bottom: 0;
		span {
			font-family: 'Marck Script', cursive;
			font-size:$global*2.5;
		}
	}
	nav {
		margin-right:-2%;
		// margin-left:-1%;

	}
	.right {
		margin-top: 0em;
		width: 55%;
		background-color:$bg3;
		@include gradient-vert(darken($bg3,20%),$bg3,10%,100%);
		margin: 0.3em 4% 0 41%;
		// @include radius-top-left(1.6em);
		ul {
			width:100%;
			margin:0 auto;

		}
		a {
			width: 19.2%;
			display: block;
			font-size: $global*1.6;
			font-weight:700;
			padding-top:$global*0.8;
			padding-bottom:$global*0.8;
			border:1px $bg2 solid;
			border-right:0;
			text-align: center;
			float: left;

		}
		&:first-of-type {
			border:1px $bg2 solid;
			@include radius-all(1.3em);
		}
		// &:last-of-type {
		// 	border:1px $bg2 solid;
		// 	@include radius-top-right(1.4em);
		// }
		// a:hover{
		// 	background-color:$bg2;
		// }
	}
	.spacer {
		@include radius-bottom(0.4em);
	}
	.jumbotron {
		width: 50%;
		margin: 1em 3%;
		height: 19em;
		float:right;
		background-image: url("../img/beige-cup.jpg");
		background-repeat:no-repeat;
		background-size:cover;
		background-position: center;
		@include radius-all(0.8em);

		h2 {
			font-family: 'Cabin Sketch', cursive;
			font-weight:700;
			text-align: center;
			color: #261305;
		}
		.floating {
			padding-top: 1em;
		}
		.top {
			margin-bottom: -1em;
			margin-left: 0;
		}
		.bottom {
			margin-top: -1.25em;
			margin-left: 0;
		}
		.small {
			font-size: 3.8em;
		}
		.big {
			font-size: 12em;
		}
	}
	article {
		padding:1em;
		font-size:$global*1.5;
		float:right;
		width:50%;
		margin: 0 2% 0 0;

	}
	.main-info {
		float: left;
		width: 43%;
		margin: -20em 1% 1em 1%;
		background-color:$bg2;
		@include gradient-vert($bg2,$text,30%,140%);
		border: 1px $bg3 solid;
		overflow: hidden;
		@include radius-all(0.5em);
		h2 {
			font-size: $global*2;
			width: 60%;
			margin: 0.7em auto;
			text-align: center;
		}
		span {
			font-family: 'Marck Script', cursive;
			font-size:$global*2.5;
		}
		.info {
			width: 95%;
			margin: 0 auto;
			div {
				background-color:$bg3;
				border:1px $bg solid;
				@include radius-all(0.6em);
				float: left;
				width: 48%;
				height:5em;
				margin: 0 1%;
				font-size: $global*1.45;
				padding:0.8em 0.4em;
			}
		}
		.social {
			width: 98%;
			margin: 1em auto;
			clear:both;
			overflow: hidden;
		}
		h3 {
			font-size: $global*2;
			width: 50%;
			margin: 0.9em auto 0.2em auto;
			text-align: center;
		}
		ul {
			width: 100%;
			margin: 0 auto;
		}
		li {
			width: 48%;
			margin: 0.2em 1%;
			padding-top:$global*0.2;
			padding-right:$global*1;
			background-color:$bg3;
			border:1px $bg2 solid;
			@include radius-all(0.6em);
			text-align: right;
			float: left;
		}
		a {
			display: block;
			width:125px;
			height:20px;
		}
	}
	aside {
		width: 43%;
		margin: 1em 1%;
		float: left;
	}
	.thumbs {
		display: block;
		width: 40%;
		height:150px;
		margin:0.3em 5%;
		float: left;
		position: relative;
		span {
			position: absolute;
			bottom:0;
			left:0;
			padding-bottom:3.1em;
			padding-left:1em;
			text-align: center;
			font-size: $global*2;
			font-weight: 700;
		}
		// &:hover {
		// 	color: black;
		// 	span {
		// 	font-size: $global*2.4;
		// 	padding-left:0.3em;
		// 	padding-bottom:2.6em;
		// }
		// }
	}
	.hot {
		float: left;
		width: 45%;
		padding-bottom:1.74em;
		margin: 1em 0 1em 5%;
	}
	.cold {
		float: left;
		width: 45%;
		margin: 1em 5% 1em 0;
	}
	.frozen {
		width:45%;
		margin:0 0 0 5%;
		float: left;
	}
	.creme {
		width: 45%;
		height:313px;
		margin:0 5% 2em 0;
		float: left;
	}
	.sandwich {
		background-image: url("../img/sandwich.jpg");
		background-repeat:no-repeat;
		background-size:contain;
		background-position: right;
		.gradient-three {
			@include gradient($bg,rgba(255,255,255,0),50%,100%);
			height:325px;
		}
		h2 {
			text-align: left;
			padding-left:2em;
		}
		.menu-left {
			width: 30%;
			margin:0 0 0 10%;
		}
		.menu-right {
			width: 10%;
			margin-right:50%;
		}
		@media screen and (min-width:1000px){
			.gradient-three{
				background: rgba(255,255,255,0);
			}
			.menu-left {
				width: 30%;
				margin:0 0 0 5%;
			}
			.menu-right {
				width: 10%;
				margin-right:55%;
			}
		}
	}
	footer {
		width:100%;
		// margin-top: 3em;
		background-color:$bg3;
		padding:0em 5% 2em 5%;
		overflow:hidden;
		h2 {
			text-align: center;
			font-size: $global*2;
			padding-top: 0.5em;
			padding-bottom:0.5em;
			padding-left:0.3em;
			font-weight:300;
			width:27%;
			margin: 0 auto -0.4em 13%;
			float: left;
			span {
				font-family: 'Marck Script', cursive;
				font-size:$global*2.2;
			}

		}
		ul {
			text-align: center;
			width:50%;
			margin: 1.07em 10% -0.4em auto;
			float: right;
		}
		li {
			display: inline-block;
			margin: 0 0.1%;

		}
		h4 {
			margin:0em auto -2em;
			font-size:$global*1.2;
			text-align: center;
		}
	}
}





