body {
background:url("../img/illustrate/trace.svg"),url("../img/bg-navy-full.png") lighten($dark,10%) ;
background-repeat:no-repeat;
background-size:contain;
background-attachment:fixed;
background-position:center;
line-height:1.3em;
}

// h1 {
// 	background: lighten($dark, 25%);
// 	font-family:$font6;
// 	@include font(2);
// 	text-transform:uppercase;
// 	width:4px;
// 	word-break:break-all;
// 	position: absolute;
// 	// top:4em;
// 	z-index:-0.3;
// 	// left:2em;
// 	line-height:1.2em;
// 	padding:0.3em 1.1em 0.1em 0.3em;
//     top:2em;
//     left:42%;
// 	border:2px $neoncenter solid;
// 	@include border-radius(0.7em);
// 	color:$seafoam;
// 	@include flash(2s,1s,1);
// 	@include neon(4);
	
// }
h1 {
	background: lighten($dark,10%);
	// font-family: "metropolis";
	font-family:$font3;
	color:$neon2;
	letter-spacing:-0.1em;
	@include font(2);
	position: relative;
	text-align:center;
	height:2.5em;
	z-index:1;
	padding:0.6em 0em 0.4em 0em;
	width:28%;
	margin:10em 43.5% 0 18.5%;
	border:2px $neoncenter solid;
	@include border-radius(0.7em);
	@include flash(2s,1s,1);
	@include neon(4);
	transform: rotate(0deg) skewY(-20deg) skewX(-15deg);
	transform-origin: bottom right;

}
h1:before {
	content: "";
	background: lighten($dark,10%);
	position: absolute;
	width: 90%;
	left:0.5em;
	height: 1.6em;

	z-index: -1;
	top:0.4em;
	border:2px $neoncenter solid;
	@include border-bottom-radius(0.5em);
	@include neon(4.4s);
}
h1:after {
	content: "";
	background: lighten($dark,10%);
	position: absolute;
	width: 85%;
	left:0.8em;
	height: 1.5em;

	z-index: -1;
	top:0.2em;
	border:2px $neoncenter solid;
	@include border-bottom-radius(0.5em);
	@include neon(4.2s);
}


h2 {
	background: lighten($dark,10%);
	// font-family: "metropolis";
	font-family:$font3;
	color:$neon2;
	letter-spacing:0em;
	@include font(1);
	position: relative;
	text-align:center;
	// z-index:2;
	padding:0.9em 0.1em 0.7em 0.1em;
	width:27%;
	height:4em;
	margin:-9.5em 14% 0 59%;
	border:2px $neoncenter solid;
	@include border-radius(0.7em);
	@include flash(2s,3s,1);
	@include neon(4.2);
	transform: rotate(20deg) skewY(7deg) skewX(22deg);
  	transform-origin: bottom left;
}
h2:before {
	content: "";
	background: lighten($dark,10%);
	position: absolute;
	width: 98%;
	// left:-5%;
	height: 2.5em;

	z-index: -1;
	left:0.2em;
	top:0.5em;
	border:2px $neoncenter solid;
	@include border-bottom-radius(0.5em);
	@include neon(4.9s);
}
h2:after {
		content: "";
	background: lighten($dark,10%);
	position: absolute;
	width: 93%;
	left:0.6em;
	height: 2em;

	z-index: -1;
	top:0.5em;
	border:2px $neoncenter solid;
	@include border-bottom-radius(0.5em);
	@include neon(4.2s);
}

// h2 {
// 	background: lighten($dark, 25%);
// 	font-family:$font6;
// 	@include font(1.2);
// 	clear:both;
// 	position: absolute;
// 	z-index: -0.5;
// 	top:29.5em;
// 	left:31%;
// 	line-height:1.6em;
// 	padding:0.5em 0.9em 0.5em 0.9em;
// 	border:2px $neoncenter solid;
// 	@include border-bottom-radius(1em);
// 	color: $seafoam;
// 	@include neon(4.2s);
// }
// h2:before {
// 	content:"";
// 	background: lighten($dark, 25%);
// 	position: absolute;
// 	z-index:-3;
// 	top:0em;
// 	left:0em;
// 	line-height:1.6em;
// 	margin-left:-1.5em;
// 	margin-top:1.3em;
// 	padding:2.1em 16.1em 0.18em 2.9em;
// 	border:2px $neoncenter solid;
// 	@include border-bottom-radius(1.5em);
// 	@include neon(5.5s);
// }
// h2:after {
// 	content:"";
// 	background: lighten($dark, 25%);
// 	position: absolute;
// 	z-index: -2;
// 	top:0em;
// 	left:0em;
// 	margin-left:-1em;
// 	margin-top:0.3em;
// 	line-height:1.6em;
// 	padding:2.5em 15.1em 0.18em 2.9em;
// 	border:2px $neoncenter solid;
// 	@include border-bottom-radius(1.4em);
// 	@include neon(4.9s);
// }




