

/* ========================== Font ============================= */
@mixin font($em){
    font-size: ($em*$global) + px;
    font-size: ($em) + em;
}

/* ========================== Border Box ======================= */

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

/* ==================== Border Radius ========================== */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// Single side border-radius

// Top
@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
   border-top-left-radius: $radius;
   background-clip: padding-box;
}

// Right
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
     border-top-right-radius: $radius;
     background-clip: padding-box;
}

// Bottom
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
   background-clip: padding-box;
}

// Left
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
     border-top-left-radius: $radius;
     background-clip: padding-box;
}

// Bottom Right
@mixin border-bottom-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   background-clip: padding-box;
}

/* ======================== Opacity ========================== */

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


/* ======================= Neon ============================== */
@mixin neon($delay) {
-webkit-animation: neon1 1.5s $delay ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s $delay ease-in-out infinite alternate;
  animation: neon1 1.5s $delay ease-in-out infinite alternate;
}
@mixin flash($duration,$delay,$interation) {
-webkit-animation: flash $duration step-start $delay $interation forwards;
  -moz-animation: flash $duration step-start $delay $interation forwards;
  animation: flash $duration step-start $delay $interation forwards;
}
@mixin pulse($color){
  -webkit-animation: neon1 1.5s 5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s 5s ease-in-out infinite alternate;
  animation: neon1 1.5s 5s ease-in-out infinite alternate;
}


/* ======================= Keyframes ========================= */

/*  Neon Inspired by http://f-rilling.com/  */

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  $purple,
               0 0 70px  $purple,
               0 0 80px  $purple,
               0 0 100px $purple;
               // 0 0 150px lighten($neon1,5%);
    box-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  $neonbright,
               0 0 70px  $neonbright;
               // 0 0 80px  lighten($neon2,5%),
               // 0 0 100px lighten($neon2,5%);
               // 0 0 150px lighten($neon2,5%);
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px darken($purple,5%),
               0 0 35px darken($purple,5%),
               0 0 40px darken($purple,5%),
               0 0 50px darken($purple,5%);
               // // 0 0 75px lighten($neon1,5%);
    box-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px $neonbright,
               0 0 35px $neonbright;
               // 0 0 40px lighten($neon2,5%),
               // 0 0 50px lighten($neon2,5%);
               // // 0 0 75px lighten($neon2,5%);
  }
}
@-webkit-keyframes flash {
  // 0%, 50%, 100% {
  //   opacity: 1;
  // }

  // 25%, 75% {
  //   opacity: 0;
  // }
  0%, 10%, 50%, 80%, 100%{
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  rgba(128,107,244,1),
               0 0 70px  rgba(128,107,244,1),
               0 0 80px  rgba(128,107,244,1),
               0 0 100px rgba(128,107,244,1);
               // 0 0 150px lighten($neon1,5%);
    box-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  rgba(243,95,83,1),
               0 0 70px  rgba(243,95,83,1);
               // 0 0 80px  lighten($neon2,5%),
               // 0 0 100px lighten($neon2,5%);
               // 0 0 150px lighten($neon2,5%);
  }
  5%, 15%, 75%, 90%  {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px darken(rgba(128,107,244,0),5%),
               0 0 35px darken(rgba(128,107,244,0),5%),
               0 0 40px darken(rgba(128,107,244,0),5%),
               0 0 50px darken(rgba(128,107,244,0),5%);
               // // 0 0 75px lighten($neon1,5%);
    box-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px rgba(243,95,83,0),
               0 0 35px rgba(243,95,83,0);
               // 0 0 40px lighten($neon2,5%),
               // 0 0 50px lighten($neon2,5%);
               // // 0 0 75px lighten($neon2,5%);
  }
}
@-webkit-keyframes slideInLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInRight {
  0% {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

